* {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

h1{
  font-family: 'Coustard', serif;
  font-size: 50px;
   color: #358FA4;
}

h2 {
   font-family: 'Coustard', serif;
   color: #358FA4;
}


p{
  font-size: 17px;
  color: #34414F;
}


/*Resize image height and width*/
img {
  height: 350px;
  width: 350px;
}


img.resize {
  width:100px;
  height: 100px;
  padding-top: 30px;
}

nav {
  background-color: #34414F;
}



#landing {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#gallery{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-color: #34414F
}



ul {
  list-style: none;
  padding: 5px;
}


h2 {
  color: #62CBD1
}

.tools{
  padding: 50px;
  border: 3px double #62CBD1;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}


.nav-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

.jumbotron {
  background-color: transparent;
}